*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black
    
}

h1{
    background-color: rgba(135, 207, 235, 0.603);
    color: white;
    height: 5rem;
   line-height: 5rem;
}
.choice{
     height: 165px;
     width: 165px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     
}

.choice:hover {
    -webkit-box-shadow:0 0 20px yellow ; 
    -moz-box-shadow: 0 0 20px yellow; 
    box-shadow:0 0 20px yellow;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px; 
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid yellow;
    box-shadow: 0 0 0 5;
    
}
.choices{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: cadetblue;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
#msg:hover{
    -webkit-box-shadow:0 0 20px cadetblue; 
    -moz-box-shadow: 0 0 20px cadetblue; 
    box-shadow:0 0 20px cadetblue;
}